/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Tahoma, sans-serif;
  background:  linear-gradient(
  62deg, 
  Var(--clr-black) 0%, 
  var(--clr-primary-6) 100%
  );
  

}
section{
  
  width:100%;
  height: auto;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  padding-left: 10px;
}
/*
=============== 
control Buttons
===============
*/
.control-buttons {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(
    62deg,
    Var(--clr-primary-2) 0%,
   #181719 100%
  );
}
.control-buttons span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-red-dark);
  color: #FFF;
  padding: 15px 25px;
  font-size: 30px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

/*
=============== 
info container
===============
*/

.info-container {
  width: 100%;
  margin: 20px auto 0;
  background-color: #F6F6F6;
  padding: 20px;
  font-size: 24px;
  overflow: hidden;
  border: 2px solid #2196f3;
}
.info-container .name {
  float: left;
  width: 50%;

}
.info-container .name  span{
  color: var(--clr-green-dark);

}
.info-container .tries  span{
  color: var(--clr-red-dark);

}
.info-container .tries {
  float: right;
  width: 50%;
  text-align: right;
}

/*
=============== 
memory Game Blocks 
===============
*/

.memory-game-blocks {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}
.memory-game-blocks.no-clicking {
  pointer-events: none;
}
.memory-game-blocks .game-block {
  height: 200px;
  max-width:200px ;
  transition: transform .5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  flex: 1 0 200px;
  margin: 0 10px 20px;
}

.memory-game-blocks .game-block .front {
  background-color: var(--clr-white);
  line-height: 200px;
}

.memory-game-blocks .game-block .back {
  background-color: #607D8B;
  transform: rotateY(180deg);
}
.memory-game-blocks .game-block .back img {
  width: 140px;
  height: 140px;
  margin-top: 30px;
}
.memory-game-blocks .game-block .face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
}
.memory-game-blocks .game-block.is-flipped,
.memory-game-blocks .game-block.has-match {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  pointer-events: none;
}